<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- Для более детальных логов Ktor и Koin можно добавить:
    <logger name="io.ktor" level="DEBUG"/>
    <logger name="org.koin" level="DEBUG"/>
    -->
</configuration>